jobs:
  - job: 'Windows_clangcl_py'
    pool:
      vmImage: 'windows-latest'
    timeoutInMinutes: 360
    steps:

      # Install Chocolatey (https://chocolatey.org/install#install-with-powershellexe)
      - powershell: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))
          Write-Host "##vso[task.setvariable variable=PATH]$env:PATH"
          choco --version
        displayName: "Install Chocolatey"
      # Install Miniconda
      - script: |
          choco install miniconda3 --yes
          set PATH=C:\tools\miniconda3\Scripts;C:\tools\miniconda3;C:\tools\miniconda3\Library\bin;%PATH%
          echo '##vso[task.setvariable variable=PATH]%PATH%'
          set LIB=C:\tools\miniconda3\Library\lib;%LIB%
          echo '##vso[task.setvariable variable=LIB]%LIB%'
          conda --version
        displayName: "Install Miniconda"
      # Configure Miniconda
      - script: |
          conda config --set always_yes yes
          conda config --append channels conda-forge
          conda info
        displayName: "Configure Miniconda"
      # Create conda enviroment
      # Note: conda activate doesn't work here, because it creates a new shell!
      - script: |
          conda install python=3.8 cmake ninja xtensor-python pytest pip -c conda-forge
          conda list
        displayName: "Install conda packages"
      # Build and install
      - script: |
          setlocal EnableDelayedExpansion
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" x86_amd64
          set CMAKE_GENERATOR="NMake Makefiles"
          echo '##vso[task.setvariable variable=CMAKE_GENERATOR]%CMAKE_GENERATOR%'
          python -m pip install -e . -v
        displayName: "Build and install fastscapelib Python bindings"
        workingDirectory: $(Build.SourcesDirectory)/python
      # Test
      - script: |
          setlocal EnableDelayedExpansion
          pytest . -vv
        displayName: "Test fastscapelib"
        workingDirectory: $(Build.SourcesDirectory)/python/fastscapelib/tests
